@inherits LayoutComponentBase
@using Ricardo.Technical.Test.Pages.Components

<PageTitle>Pen n' Paper</PageTitle>

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<OrderHistoryWidget/>
			<UserWidget />
			<BasketWidget />
		</div>
		<article class="content px-4">
			<Shop>
				@Body
			</Shop>
		</article>
	</main>
</div>
