################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ricardo.Technical.Test/bin/Debug/net7.0
/.vs
/Ricardo.Technical.Test/obj
/Ricardo.Application.Test/obj
/Ricardo.Application.Test/bin
/Ricardo.Technical.IntegrationTest/obj
/Ricardo.Technical.IntegrationTest/bin/Debug/net7.0
