################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ricardo.Technical.Test/bin/Debug/net7.0
/.vs
/Ricardo.Technical.Test/obj
