@page "/checkout"
<h3>Checkout</h3>

<ViewBasket/>

<p>
    <button type="button" class="Order" onclick="@PlaceOrder">Order now</button>
</p>

<Toasts class="p-3" Messages="@_messages" AutoHide="true" Delay="4000" Placement="ToastsPlacement.BottomRight" />